<header class="text-black body-font border-b-2 border-black" style="background-color: #F2BE22;">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <span class="ml-3 text-xl text-black">{BELLAx2Bac}</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href="/"> ๐ ุงูุฑุฆูุณูุฉ</a>
        <a class="mr-5 hover:text-gray-900" href="/tipList"> ๐ด ูุตุงุฆุญ </a>
        <a class="mr-5 hover:text-gray-900" href="/addTip"> ๐ ุฃุถู ูุตูุญุชู</a>
        <a class="mr-5 hover:text-gray-900" href="https://about.me/mohamedbella"> ๐ป ุญูู ุงููุจุฑูุฌ  </a>
      </nav>
      <button class="inline-flex items-center bg-black border-0 py-1 px-3 focus:outline-none hover:bg-black rounded-lg text-white mt-4 md:mt-0"> <a href="https://www.buymeacoffee.com/mohammmedbs">ุฅุดุชุฑู ูู ูููุฉ</a>
      </button>
    </div>
  </header>