<%- include('./partails/header.ejs') %>
<%- include('./partails/navbar.ejs') %>


<section class="text-gray-600 body-font relative" style="background-color: darkturquoise;">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-5xl text-3xl font-medium title-font mb-4 text-gray-900"> ๐ ุงูุดุฑ ูุตูุญุชู ููุนุงูู</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{ H E L P  } </p>
      </div>
      <form action="/saveTip" method="post" enctype="multipart/form-data">
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
             
              <div class="p-2 w-full">
    
                <div class="relative mb-4">
                    <label for="name" class="leading-7 text-sm text-gray-600">ุงูุนููุงู</label>
                    <input type="text" id="name" name="title" class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>


                  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ููุน ุงููุตูุญุฉ</label>
                  <select id="countries" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>ุงุฎุชุฑ</option>
                    <option value="ูุตูุญุฉ">ูุตูุญุฉ</option>
                    <option value="ุฎุฏุนุฉ">ุฎุฏุนุฉ</option>
                    <option value="ุฏุฑุณ">ุฏุฑุณ</option>
                    <option value="ูุง ุชูุนู">ูุง ุชูุนู</option>
                  </select>


                  <div class="relative">
                    <label for="message" class="leading-7 text-sm text-gray-600">ููุฎุต</label>
                    <textarea id="message" name="description" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                  </div>
    
    
                  <div class="relative mb-4">
                   
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">ุงุฑูุน ุตูุฑุฉ ุชุนุจุฑ ุนู ูุตูุญุชู</label>
                    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file" name="image">
    
                  </div>
    
    
                <div class="relative">
                  <label for="message" class="leading-7 text-sm text-gray-600">ูุญุชูู ูุตูุญุชู</label>
                  <textarea id="message" name="content" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                </div>
              </div>
              <div class="p-2 w-full">
                <button class="flex mx-auto text-white bg-black border-0 py-2 px-8 focus:outline hover:bg-black rounded-lg text-lg" type="submit">ุงุถู</button>
              </div>

            </div>
          </div>
      </form>
    </div>
  </section>

<%- include('./partails/footer.ejs') %>